/* استيراد خط Cairo */
body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

h1 {
    text-align: center;
    color: #2C3E50;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 1.1em;
    font-weight: 600;
    color: #34495E;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #2980B9;
    outline: none;
}

button {
    padding: 12px;
    background-color: #27AE60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1e8449;
}

.start-btn {
    background-color: #3498DB;
    margin-top: 30px;
}

.start-btn:hover {
    background-color: #2980B9;
}

.hidden {
    display: none;
}

#evaluation-buttons, #items-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.eval-btn, .item-btn {
    padding: 12px;
    margin-top: 10px;
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.eval-btn:hover, .item-btn:hover {
    background-color: #2980B9;
}

.back-btn {
    background-color: #e74c3c;
}

.back-btn:hover {
    background-color: #c0392b;
}

#totalScore {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

#saveButton {
  background-color: #4CAF50; /* لون أخضر */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

#saveButton:hover {
  background-color: #45a049;
}
